<mat-toolbar>
  <button mat-button routerLink="../">
    <mat-icon>reply</mat-icon>Regresar</button>
  <div>
      <h1>PROCESO DE COMPRA</h1>
  </div>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step>
    <form>
      <ng-template matStepLabel>Carrito productos</ng-template>
            <mat-vertical-stepper [linear]="true" #stepper>
              <mat-step>
                <form>
                  <ng-template matStepLabel>Elija caracteristicas de productos</ng-template>
                  <div>
                    <app-detalle-producto [externo]="true"></app-detalle-producto>
                  </div>
                  <div class="mt-2">
                    <button type="button" class="btn btn-success" matStepperNext *ngIf="validarDetallesCarrito()">Siguiente</button>
                    <button type="button" class="btn btn-danger" *ngIf="!validarDetallesCarrito()" (click)="openSnackBar('Escoja un producto con sus caracteristicas')">Siguiente</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <form>
                  <ng-template matStepLabel>Elija la tienda</ng-template>
                  <div *ngIf="validarDetallesCarrito()">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <mat-form-field style="width: 250px;">
                                <mat-select placeholder="Elija la tienda que en la que desea comprar" name="tienda" #tienda="ngModel" 
                                [(ngModel)]="selectedTienda" (ngModelChange)="comprobarDisponibilidad()">
                                    <mat-option *ngFor="let obj of tiendas" [value]="obj">
                                        Tienda: {{obj.nombre_tienda}} - Distrito: {{obj.distrito}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6 text-center">
                            <button type="button" class="btn btn-primary" (click)="limpiarTienda()">Limpiar Formulario</button>
                        </div>
                    </div>
                  </div>
                  <div *ngIf="!validarDetallesCarrito()">
                    <h1>Complete el paso anterior</h1>
                  </div>
                  <div class="mt-2">
                    <button type="button" class="btn btn-info" matStepperPrevious>Atras</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" *ngIf="!validarTienda()" (click)="openSnackBar('Escoja una tienda')">Siguiente</button>
                    <button type="button" class="btn btn-success" *ngIf="validarTienda()"matStepperNext>Siguiente</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <form>
                  <ng-template matStepLabel>Rellene los detalles de Venta</ng-template>
                  <div *ngIf="validarTienda()">
                      <app-detalle-venta [externo]="true"></app-detalle-venta>
                  </div>
                  <div *ngIf="!validarTienda()">
                    <h1>Complete el paso anterior</h1>
                  </div>
                  <div class="mt-2">
                    <button type="button" class="btn btn-info" matStepperPrevious>Atras</button>
                  </div>
                </form>
              </mat-step>
            </mat-vertical-stepper>
      <div>
        <button type="button" class="btn btn-success" *ngIf="validarDetallesVentaCarrito()" matStepperNext>Siguiente</button>
        <button type="button" class="btn btn-danger" *ngIf="!validarDetallesVentaCarrito()" (click)="openSnackBar('Rellene los detalles de Venta')">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step >
    <form>
      <ng-template matStepLabel>Despacho</ng-template>

      <div *ngIf="validarDetallesVentaCarrito()">
          AAA
      </div>

      <div class="mt-2">
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Metodo de pago">
    <form>
      <mat-form-field>
        <mat-label>Tarjeta</mat-label>
        <input matInput placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirmación</ng-template>
    <p>Estas por confirmar tu compra</p>
    <div>
      <button mat-button matStepperPrevious>Atras</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

